COMPOSE_PROFILES=homepage,portainer,dbgate,sqlchat,excalidraw,benotes

SERVER_NAME=

PORT_HOME=9000
PORT_PORTAINER=9002
PORT_DBGATE=9003
PORT_SQLCHAT=9004
PORT_EXCALIDRAW=9005

SQLCHAT_OPENAI_KEY=<YOUR_OPENAPI_HERE>